body{
  background-color: #e056fd;
}
.add-btn{
  margin: 20px;
  border-radius: 10px;
  border: none;
  background-color: #eee;
  color: #7158e2;
 
}
.ulist{
  list-style-type: none;
}
.dlt-btn{
  margin: 20px;
  background-color: #ff3838;
  color: black;
  border: none;
  border-radius: 10px;
}
.back-ground{
  background-color: #dff9fb;
  border-radius: 10px;
  text-align: center;
  list-style-type: none;

 

  
}
.item{
  text-align: center;
}
.input-text{
  border-radius: 10px;
  border: none;
}